//body{
//	margin-top: 100px;
//}
//
//.titulo {
//	color: RGB(68, 180, 49)!important;
//
//}

.paineis{
	-webkit-box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
	-moz-box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
	box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
}

.painel_cadastro{
	padding: 5%;
}

.seta{
	position: fixed;
	right: 15px;
	bottom: 10px;
	width: 60px;
}

.logo{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 14%;
	min-width: 120px;

	//background-color: white;
	-webkit-box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
	-moz-box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
	box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
	//border-radius: 100px;
}

.fundoLogo{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 200px;


}

.painel_teste{
	width: 400px;
    height: 120px;
    margin-left: -200px; /* metade da largura */
    margin-top: -60px; /* metade da altura */
    position: fixed;
    top: 50%;
    left: 50%;

	background-color: white;
	-webkit-box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
	-moz-box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
	box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
	border-radius: 4px;

}
#escurece{
	background-color: rgba(90, 90, 90, 0.3);
	width: 100%;
	height: 100%;
	left:0px;
	top: 0px;
	position: fixed;
	-webkit-box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
	-moz-box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
	box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
	border-radius: 4px;
}

#loading{
	width: 100px;
    height: 100px;
    margin-left: -50px; /* metade da largura */
    margin-top: -50px; /* metade da altura */
    position: fixed;
    top: 50%;
    left: 50%;
}

#fecha{
	position: absolute;
	right: 10px;
	top: 10px;
}

h1 + p {
	font-style: italic;
	color: #777;
	text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    padding-bottom: 20px;
}

.texto_votacao {
	font-style: italic;
	color: #777;
	text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-style: italic;
    font-weight: 400;
    padding-bottom: 20px;
}

.label_form{
	padding-top: 10px;
}

.primeiro_label_form{
	padding-top: 30px;
}
.msg_retorno{
	margin-top: 25px;
	margin-bottom: 10px;
}

.botao{
   background-image: linear-gradient(160deg, rgba(28, 117, 188, 0.4) 0%, rgba(42, 43, 121, 0.4) 100%);
   min-width: 100px;
   height: 50px;
   margin-top: 15px;
   padding-right: 15px;
   padding-left: 15px;
}