

.titulo {
	color: RGB(68, 180, 49)!important;

}

.paineis{
	-webkit-box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
	-moz-box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
	box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
}

.painel_cadastro{
	padding: 5%;
}

.seta{
	position: fixed;
	right: 15px;
	bottom: 10px;
	width: 60px;
}

.painel_teste{
	width: 400px;
    height: 300px;
    margin-left: -200px; /* metade da largura */
    margin-top: -150px; /* metade da altura */
    position: fixed;
    top: 50%;
    left: 50%;

	background-color: white;
	-webkit-box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
	-moz-box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
	box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
	border-radius: 4px;

}
#escurece{
	background-color: rgba(90, 90, 90, 0.3);
	width: 100%;
	height: 100%;
	left:0px;
	top: 0px;
	position: fixed;
	-webkit-box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
	-moz-box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
	box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
	border-radius: 4px;
}

#fecha{
	position: absolute;
	right: 12px;
	top: 12px;
}

form{
	padding-top: 30px;
}
.msg_retorno{
	position: relative;
	top: 50%
	bottom: 50%;
	margin: 10%;
}

.botao{
   background-image: linear-gradient(160deg, rgba(28, 117, 188, 0.4) 0%, rgba(42, 43, 121, 0.4) 100%);
   min-width: 100px;
   height: 50px;
   margin-top: 15px;
   padding-right: 15px;
   padding-left: 15px;
}