.titulo {
	color: RGB(68, 180, 49)!important;

}

#pratos{
	background-image: https://forge.laravel.com/images/dem-sparks.jpg;
}

.paineis{
	-webkit-box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
	-moz-box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
	box-shadow: 7px 8px 30px -9px rgba(0,0,0,0.61);
}

.painel_cadastro{
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
}

.painel_cadastro label{
}

.seta{
	position: fixed;
	right: 20px;
	bottom: 10px;
	width: 100px;
}

form{
	padding-top: 30px;
}